extends layout.pug
block content
  +navbar("index")
  section#home-screen-1
    .screen-container
      .pure-g
        .pure-u-1.pure-u-md-1-2
          .description-text
            .question We've heard these too many times!!...
            ul.fa-ul
              each reason in reasonsList
                li #[i.fa-li.fa.fa-comment] #{reason}
        .pure-u-1.pure-u-md-1-2
          .description-text=rightDescriptionText
          .btn-cont
            input(type="email" placeholder="Weekly Newsletter")
            button.btn
              a(href="" target="_blank") Subscribe
          .description-text
            .newsletter-desc
              |Absolutely No Spam.
              br
              |Only worthwhile initiatives, tips, &amp; reads.
              br
              |On a weekly basis.
        //- if app.useColumns
        //-   .pure-u-1.pure-u-md-1-2
        //-     .description-text
        //-       span(style="margin-left: 1.2em;")!=app.leftTitle
        //-       ul.fa-ul
        //-         each point in app.leftPoints
        //-           li #[i.fa-li.fa.fa-bolt] !{point}
        //-   .pure-u-1.pure-u-md-1-2
        //-     .description-text
        //-       span!=app.rightTitle
        //-       ul.fa-ul
        //-       each point in app.rightPoints
        //-         li !{point}
        //- else
        //-   .pure-u-1
        //-     .description-text!=app.descriptionText
      //- .btn-cont
      //-   button.btn
      //-     a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank")!=app.buttonText

  section.home-screen-6
    h1.screen-title Collection
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |A collection of initiatives that help make the web a better place.
      - var groupedBy3Initiatives = helpers.groupBy(initiatives, 3);
      each threeInitiatives in groupedBy3Initiatives
        .pure-g(style="margin:0 1rem 0;")
          each initiative in threeInitiatives
            .pure-u-1.pure-u-lg-1-3
              .home-project-container
                .home-project-img-cont
                  img(src=initiative.image)
                .home-project-text
                  a.home-project-title(href=link.to(initiative.path))=initiative.title
                  .home-project-description!=initiative.short_description
      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") View More
            //- |&nbsp;&nbsp;
            //- button.btn 
            //-   a(href="offre.html") Toutes nos offres

  section#home-screen-2
    h1.screen-title Browse Better
    .screen-container
      each howto in howtos
        .pure-g(style="padding: 1rem 0;")
          .pure-u-1.pure-u-md-1-3
            .screen-content.display-flex.justify-center
              .value-img-container
                img(src=howto.image)
          .pure-u-1.pure-u-md-2-3
            .screen-content.screen-text.display-flex.justify-center
              .value-title #[a(href=link.to(howto.path))=howto.title]
              .value-description!=howto.short_description
      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") More Tips !

  section#home-screen-7
    h1.screen-title Go further
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |A few interesting reads on how feeds and recommendation algorithms work, and why it matters.
      - var groupedBy3Reads = helpers.groupBy(reads, 3);
      each threeReads in groupedBy3Reads

        .pure-g(style="margin:0 1rem 0;")
          each read in threeReads
            .pure-u-1.pure-u-lg-1-3
              .article-container
                .article-text
                  .article-title #[a(href=read.url)=read.title]
                  .article-description1!=read.short_description
                  .article-tags 
                    each tag in read.tags
                      | ##{tag} 
      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") Read More

  section.home-screen-6
    h1.screen-title Our Experiments
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |We experiment on social platforms, leveraging the power of communities to spread culture on the web, and have fun !
      - var groupedBy3Experiments = helpers.groupBy(experiments, 3);
      each threeExperiments in groupedBy3Experiments
        .pure-g(style="margin:0 1rem 0;")
          each experiment in threeExperiments
            .pure-u-1.pure-u-lg-1-3
              .home-project-container
                .home-project-img-cont
                  img(src=experiment.image)
                .home-project-text
                  .home-project-title=experiment.title
                  .home-project-description!=experiment.short_description

      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") View More
