extends layout.pug
block content
  +navbar("index")
  section#home-screen-1
    .screen-container
      .pure-g
        .pure-u-1.pure-u-md-1-2
          .description-text
            .question We've heard these too many times...
            ul.fa-ul
              each reason in reasonsList
                li #[i.fa-li.fa.fa-comment] #{reason}
        .pure-u-1.pure-u-md-1-2
          .description-text
            .question So how do we actually make better social media ?
            div=rightDescriptionText

            //- Begin MailChimp Signup Form
            .newsletter
              #mc_embed_signup
                form(action="//worthwhileweb.us15.list-manage.com/subscribe/post?u=2efa44f16c2188cc7c51e9990&amp;id=65ab841881" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                  #mc_embed_signup_scroll
                    .mc-field-group(style="display:inline-block")
                      //- label(for="mce-EMAIL") Email Address
                      input#mce-EMAIL.required.email(type="email" placeholder="Weekly Newsletter" value="" name="EMAIL")
                    //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style="position: absolute; left: -5000px;" aria-hidden="true")
                      input(type="text" name="b_2efa44f16c2188cc7c51e9990_65ab841881" tabindex="-1" value="")
                    .clear(style="display:inline-block")
                      input#mc-embedded-subscribe.button.btn(type="submit" value="Subscribe" name="subscribe")
                    #mce-responses.clear
                      #mce-error-response.response(style="display:none")
                      #mce-success-response.response(style="display:none")
              //- End mc_embed_signup

            .newsletter-desc
              |Absolutely No Spam. Only worthwhile initiatives, tips, &amp; reads.
              br
              |On a weekly basis.
        //- if app.useColumns
        //-   .pure-u-1.pure-u-md-1-2
        //-     .description-text
        //-       span(style="margin-left: 1.2em;")!=app.leftTitle
        //-       ul.fa-ul
        //-         each point in app.leftPoints
        //-           li #[i.fa-li.fa.fa-bolt] !{point}
        //-   .pure-u-1.pure-u-md-1-2
        //-     .description-text
        //-       span!=app.rightTitle
        //-       ul.fa-ul
        //-       each point in app.rightPoints
        //-         li !{point}
        //- else
        //-   .pure-u-1
        //-     .description-text!=app.descriptionText
      //- .btn-cont
      //-   button.btn
      //-     a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank")!=app.buttonText

  section.home-screen-6
    h1.screen-title Collection
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |A collection of initiatives that help make the web a better place.
      - var groupedBy3Initiatives = helpers.groupBy(initiatives, 3);
      each threeInitiatives in groupedBy3Initiatives
        .pure-g(style="margin:0 1rem 0;")
          each initiative in threeInitiatives
            .pure-u-1.pure-u-lg-1-3
              .home-project-container
                a(href=link.to(initiative.path))
                  .home-project-img-cont
                    img(src=initiative.image)
                .home-project-text
                  a(href=link.to(initiative.path))
                    .home-project-title=initiative.title
                  .home-project-description!=initiative.short_description
      .pure-g
        .pure-u-1.pure-u-md-1-3
        .pure-u-1.pure-u-md-1-3
          .btn-cont
            button.btn 
              a(href="initiatives") View More
        .pure-u-1.pure-u-md-1-3
          .suggest-cta
            |Or #[a(href="" target="_blank") suggest a worthwhile initiative]

  section#home-screen-2
    h1.screen-title Browse Better
    .screen-container
      each howto in howtos
        .pure-g(style="padding: 1rem 0;")
          .pure-u-1.pure-u-md-1-3
            .screen-content.display-flex.justify-center
              a(href=link.to(howto.path))
                .value-img-container
                  img(src=howto.image)
          .pure-u-1.pure-u-md-2-3
            .screen-content.screen-text.display-flex.justify-center
              .value-title #[a(href=link.to(howto.path))=howto.title]
              .value-description!=howto.short_description
      .pure-g
        .pure-u-1.pure-u-md-1-3
        .pure-u-1.pure-u-md-1-3
          .btn-cont
            button.btn 
              a(href="howtos") More Tips !
        .pure-u-1.pure-u-md-1-3
          .suggest-cta
            |Or #[a(href="" target="_blank") suggest a worthwhile tip]

  section#home-screen-7
    h1.screen-title Go further
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |A few interesting reads on how feeds and recommendation algorithms work, and why it matters.
      - var groupedBy3Reads = helpers.groupBy(reads, 3);
      each threeReads in groupedBy3Reads

        .pure-g(style="margin:0 1rem 0;")
          each read in threeReads
            .pure-u-1.pure-u-lg-1-3
              .article-container
                .article-text
                  .article-title #[a(href=link.to(read.path))=read.title]
                  .article-description1!=read.short_description
                  .article-tags 
                    each tag in read.tags
                      span ##{tag}&nbsp;
      .pure-g
        .pure-u-1.pure-u-md-1-3
        .pure-u-1.pure-u-md-1-3
          .btn-cont
            button.btn 
              a(href="reads") Read More
        .pure-u-1.pure-u-md-1-3
          .suggest-cta
            |Or #[a(href="" target="_blank") suggest a worthwhile read]

  section.home-screen-6
    h1.screen-title Our Experiments
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |We experiment on social platforms, leveraging the power of communities to spread culture on the web, and have fun !
      - var groupedBy3Experiments = helpers.groupBy(experiments, 3);
      each threeExperiments in groupedBy3Experiments
        .pure-g(style="margin:0 1rem 0;")
          each experiment in threeExperiments
            .pure-u-1.pure-u-lg-1-3
              .home-project-container
                a(href=link.to(experiment.path))
                  .home-project-img-cont
                    img(src=experiment.image)
                .home-project-text
                  a(href=link.to(experiment.path))
                    .home-project-title=experiment.title
                  .home-project-description!=experiment.short_description

      .pure-g
        .pure-u-1.pure-u-md-1-3
        .pure-u-1.pure-u-md-1-3
          .btn-cont
            button.btn 
              a(href="experiments") View More
        .pure-u-1.pure-u-md-1-3
          .suggest-cta
            |Or #[a(href="" target="_blank") suggest a worthwhile experiment]
