extends layout.pug
block content
  +navbar("index")
  section#home-screen-1
    .screen-container
      .pure-g
        if app.useColumns
          .pure-u-1.pure-u-md-1-2
            .description-text
              span(style="margin-left: 1.2em;")!=app.leftTitle
              ul.fa-ul
                each point in app.leftPoints
                  li #[i.fa-li.fa.fa-bolt] !{point}
          .pure-u-1.pure-u-md-1-2
            .description-text
              span!=app.rightTitle
              ul.fa-ul
              each point in app.rightPoints
                li !{point}
        else
          .pure-u-1
            .description-text!=app.descriptionText
      .btn-cont
        button.btn
          a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank")!=app.buttonText
  section#home-screen-6
    h1.screen-title Experiments
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |We experiment on social platforms, leveraging the power of communities to spread culture on the web, and have fun !
      .pure-g(style="margin:0 1rem 0;")
        .pure-u-1.pure-u-lg-1-3
          .home-project-container
            .home-project-img-cont
              img(src="http://68.media.tumblr.com/b966ee7275158ba0350cc00af1571e6f/tumblr_o28s6lK4bj1r1thfzo1_1280.jpg")
            .home-project-text
              .home-project-title Instagram Dominoes
              .home-project-description Each picture is a reply to the previous one, suggested by our followers.
        .pure-u-1.pure-u-lg-1-3
          .home-project-container
            .home-project-img-cont
              img(src="https://pbs.twimg.com/profile_images/817085865948233728/GYFyrkej_400x400.jpg")
            .home-project-text
              .home-project-title From A to B
              .home-project-description On Facebook and Twitter, we share content that brings together two subjects that are not obviously related.

        .pure-u-1.pure-u-lg-1-3
          .home-project-container
            .home-project-img-cont
              img(src="http://ilovehdwallpapers.com/walls/paper-planes-drawings-HD.jpg")
            .home-project-text
              .home-project-title Newsletter
              .home-project-description Every week: get 1 video, 1 song, 1 article, &amp; 1 random pick delivered to your inbox !
      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") View More
            //- |&nbsp;&nbsp;
            //- button.btn 
            //-   a(href="offre.html") Toutes nos offres

  section#home-screen-2
    h1.screen-title Browse Better
    .screen-container
      .pure-g(style="padding: 1rem 0;")
        .pure-u-1.pure-u-md-1-3
          .screen-content.display-flex.justify-center
            .value-img-container
              img(src="http://www.wwwdesign.co.nz/Quora.jpg")
        .pure-u-1.pure-u-md-2-3
          .screen-content.screen-text.display-flex.justify-center
            .value-title How-To Diversify your Quora Feed
            .value-description
              |We love Quora. Their newsletter systematically hooks us. But the same topics come back over and over.
              br
              br
              |We share ways to keep it interesting and diversified.

      .pure-g(style="padding: 1rem 0;")
        .pure-u-1.pure-u-md-1-3
          .screen-content.display-flex.justify-center
            .value-img-container
              img(src="http://horseedmedia.net/wp-content/uploads/2013/03/like-thum.jpg")
        .pure-u-1.pure-u-md-2-3
          .screen-content.screen-text.display-flex.justify-center
            .value-title How-To get the most from your Facebook likes
            .value-description
              |You know this page you love but don't ever see on your feed ? Meanwhile BuzzFeed is there every other post.
              br
              br
              |Here's a few tips to take back control.
      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") More Tips !

  section#home-screen-7
    h1.screen-title Go further
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |A few interesting reads on how feeds and recommendation algorithms work, and why it matters.
      .pure-g(style="margin:0 1rem 0;")
        .pure-u-1.pure-u-lg-1-3
          .article-container
            .article-text
              a(href="https://youtu.be/PowqvYH8tPU?t=48m48s")
                .article-title Conversation with Tim Berners-Lee
              .article-description Everytime you build an application, think of how you can make it better at bridging.
              .article-tags #openweb #culture #exchange

        .pure-u-1.pure-u-lg-1-3
          .article-container
            .article-text
              .article-title From A to B
              .article-description On Facebook and Twitter, we share content that brings together two subjects that are not obviously related.

        .pure-u-1.pure-u-lg-1-3
          .article-container
            .article-text
              a(href="http://bridges.land/blog/beyond-search-personalisation-treasures-await/")
                .article-title Beyond search and personalization, treasures await
              .article-description Our blog article that traces the evolution of how we explore the web, and explains why we are building Bridges.
              .article-tags #discovery #algorithms #startup
      .pure-g
        .pure-u-1
          .btn-cont
            button.btn 
              a(href="projets.html") Read More
            //- |&nbsp;&nbsp;
            //- button.btn 
            //-   a(href="offre.html") Toutes nos offres

  //- section#home-screen-7
  //-   include projects.pug

  //- section#home-partners
  //-   h2.home-subtitle Nos partenaires
  //-   .home-partner-logo-cont
  //-     img(src="https://www.polytechnique.edu/sites/all/institutionnel/Logo_Ecole%20polytechnique_horizontal_72dpi.jpg" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")
  //-   .home-partner-logo-cont
  //-     img(src="https://assets-production-webvanta-com.s3-us-west-2.amazonaws.com/000000/51/21/original/images/berkeley-logo.png" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")
  //-   .home-partner-logo-cont
  //-     img(src="http://theschoolab.com/wp-content/uploads/2016/09/logo_site_schoolab.png" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")
  //-   .home-partner-logo-cont(style="width: 200px;")
  //-     img(src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/14725711_2153707181520990_4904325706566306218_n.png?oh=545cae383e06a0640bc3524811a17c7b&oe=58B5D436" style="-webkit-filter:grayscale(1) invert(1) brightness(2);filter:grayscale(1) invert(1) brightness(2)")

