extends layout.pug
block content
  +navbar("equipe")
  h1.screen-title L'Equipe
  section.team-cont
    each teammate in teammates
      .teammate-cont
        .teammate-img-cont
          img(src=teammate.image_url)
        .teammate-text-cont
          .teammate-name #{teammate.name}
          .teammate-one-liner #{teammate.one_liner}
          .teammate-description #{teammate.description}

    .btn-cont
      button.btn
        a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank") Contactez-nous

  //- h1.screen-title Nos Projets
  //- each project in projects
  //-   .project-box
  //-     .pure-g
  //-       .pure-u-1.pure-u-md-1-2
  //-         .project-img-container
  //-           img(src=project.image_url)
  //-       .pure-u-1.pure-u-md-1-2
  //-         .project-text-container
  //-           .project-title #{project.title}   
  //-           .project-description #{project.description}
